/* 문항 출제 관련 css 정리 */



.question-number {
    text-indent: 0; /* 들여쓰기 초기화 */
    position: absolute;
    top: calc(-10 / 16 * var(--base));
    left: calc(-10 / 16 * var(--base));
    width: calc(18 / 16 * var(--base));
    height: calc(18 / 16 * var(--base));
    background: #007bff;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: calc(18 / 16 * var(--base));
    font-weight: bold;
    font-size: calc(8 / 16 * var(--base));
    /*display: none;*/
}

/* ///////////////////////////////////////////////////////////type a 관련 Styles ////////////////////////////////////////*/
.hint-container {
    text-indent: 0; /* 들여쓰기 초기화 */
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border: calc(1 / 16 * var(--base)) solid #007bff;
    border-radius: calc(5 / 16 * var(--base));
    background-color: #f9f9f9;
    cursor: pointer;
    text-align: center;
    font-size: calc(12 / 16 * var(--base));
    font-weight: bold;
    color: #007bff;
    margin: calc(10 / 16 * var(--base)) calc(5 / 16 * var(--base)); /* 수평 마진 */
    margin-top: calc(20 / 16 * var(--base));
    margin-bottom: calc(-3 / 16 * var(--base));
    margin-right : calc(3 / 16 * var(--base));
    transform: translateY(-25%);
    padding: calc(5 / 16 * var(--base)); /* 상단 여유 공간 확보 */
    height: calc(18 / 16 * var(--base));
    white-space: normal;
}

.hint-container-small {
    text-indent: 0; /* 들여쓰기 초기화 */
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border: calc(1 / 16 * var(--base)) solid #007bff;
    border-radius: calc(5 / 16 * var(--base));
    background-color: #f9f9f9;
    cursor: pointer;
    text-align: center;
    font-size: calc(7 / 16 * var(--base));
    font-weight: bold;
    color: #007bff;
    margin: calc(3 / 16 * var(--base));
    padding: calc(3 / 16 * var(--base));
    white-space: normal;
}


.hint-container .hint-text{
    text-indent: 0; /* 들여쓰기 초기화 */
    border: calc(1 / 16 * var(--base)) solid #007bff;
    border-radius: calc(5 / 16 * var(--base));
    display: inline-block; /* block에서 inline-block으로 변경 */
    text-align: center;
    font-size: calc(10 / 16 * var(--base));
    font-weight: bold;
    color: #007bff;
    background: #f9f9f9;
    width: 68%;
    line-height: 1.5;
    height: calc(16 / 16 * var(--base));
    position: absolute;
    top: -50%; /* 프레임 위로 이동 */
    left: 50%;  /* 가로 중앙 */
    transform: translateX(-50%); /* 가로 중앙 정렬 */
    z-index: 100; /* 다른 요소 위로 표시 */
    white-space: nowrap; /* 줄바꿈 방지 */
}

.hint-container-small .hint-text {
    text-indent: 0; /* 들여쓰기 초기화 */
    border: calc(1 / 16 * var(--base)) solid #007bff;
    border-radius: calc(5 / 16 * var(--base));
    display: inline-block; /* block에서 inline-block으로 변경 */
    text-align: center;
    font-size: calc(10 / 16 * var(--base));
    font-weight: bold;
    color: #007bff;
    background: #f9f9f9;
    width: 68%;
    line-height: 1.5;
    height: calc(16 / 16 * var(--base));
    position: absolute;
    top: -80%; /* 프레임 위로 이동 */
    left: 50%;  /* 가로 중앙 */
    transform: translateX(-50%); /* 가로 중앙 정렬 */
    z-index: 100; /* 다른 요소 위로 표시 */
    white-space: nowrap; /* 줄바꿈 방지 */
}

.hint-container .answer-text-wrong,
.hint-container-small .answer-text-wrong {
    text-indent: 0; /* 들여쓰기 초기화 */
    border: calc(1 / 16 * var(--base)) solid #007bff;
    border-radius: calc(5 / 16 * var(--base));
    display: inline-block; /* block에서 inline-block으로 변경 */
    text-align: center;
    font-size: calc(10 / 16 * var(--base));
    font-weight: bold;
    color: var(--red);
    background: var(--redt);
    width: 68%;
    line-height: 1.5;
    height: calc(16 / 16 * var(--base));
    position: absolute;
    top: -50%; /* 프레임 위로 이동 */
    left: 50%;  /* 가로 중앙 */
    transform: translateX(-50%); /* 가로 중앙 정렬 */
    z-index: 100; /* 다른 요소 위로 표시 */
    white-space: nowrap; /* 줄바꿈 방지 */
}

.hint-container .answer-text,
.hint-container-small .answer-text {
    text-indent: 0; /* 들여쓰기 초기화 */
    border: calc(1 / 16 * var(--base)) solid #007bff;
    border-radius: calc(5 / 16 * var(--base));
    display: inline-block; /* block에서 inline-block으로 변경 */
    text-align: center;
    font-size: calc(10 / 16 * var(--base));
    font-weight: bold;
    color: var(--green);
    background: var(--greent);
    width: 68%;
    line-height: 1.5;
    height: calc(16 / 16 * var(--base));
    position: absolute;
    top: -50%; /* 프레임 위로 이동 */
    left: 50%;  /* 가로 중앙 */
    transform: translateX(-50%); /* 가로 중앙 정렬 */
    z-index: 100; /* 다른 요소 위로 표시 */
    white-space: nowrap; /* 줄바꿈 방지 */
}

.hint-container input {
    font-family: 'Nanum Barun Gothic YetHangul', sans-serif;
    text-indent: 0; /* 들여쓰기 초기화 */
    border: none;
    outline: none;
    font-size: calc(12 / 16 * var(--base));
    font-weight: bold;
    color: #000000;
    text-align: center;
    background: transparent;
    /* width은 size 속성에 의해 조절됨 */
}

.hint-container-small input {
    font-family: 'Nanum Barun Gothic YetHangul', sans-serif;
    text-indent: 0; /* 들여쓰기 초기화 */
    border: none;
    outline: none;
    font-size: calc(10 / 16 * var(--base));
    font-weight: bold;
    color: #000000;
    text-align: center;
    background: transparent;
    /* width은 size 속성에 의해 조절됨 */
}


/* ///////////////////////////////////////////////////////////type b 관련 Styles ////////////////////////////////////////*/
.choice-container {
    text-indent: 0; /* 들여쓰기 초기화 */
    display: inline-block;
    position: relative;
    vertical-align: middle;
    justify-content: space-between;
    align-items: center;
    border: calc(1 / 16 * var(--base)) solid #007bff;
    border-radius: calc(5 / 16 * var(--base));
    background-color: #aec2e8;
    padding: calc(5 / 16 * var(--base)); /* 상단 여유 공간 확보 */
    margin: 0;
    margin-top: calc(12 / 16 * var(--base));
    margin-left: calc(3 / 16 * var(--base));
    transform: translateY(-20%); /* 세로 중앙 정렬 */
    word-wrap: break-word;
    white-space: nowrap;
}


.choice-option,
.choice-options {
    text-indent: 0; /* 들여쓰기 초기화 */
    display: inline-block;
    margin: 0 calc(2 / 16 * var(--base));
    padding: calc(3 / 16 * var(--base)) calc(5 / 16 * var(--base));
    text-align: center;
    border: calc(1 / 16 * var(--base)) solid #007bff50;
    background-color: #ffffff;
    border-radius: calc(3 / 16 * var(--base));
    cursor: pointer;
    font-weight: bold;
    color: #333;
    font-size: calc(11 / 16 * var(--base));
    line-height: 1.5;
}
.choice-option:hover,
.choice-options:hover {
    text-indent: 0; /* 들여쓰기 초기화 */
    background-color: #007bff;
    color: white;
}
.choice-option.selected,
.choice-options.selected {
    text-indent: 0; /* 들여쓰기 초기화 */
    background-color: #007bff;
    color: white;
}

.correct-answer {
    text-indent: 0; /* 들여쓰기 초기화 */
    font-size: calc(12 / 16 * var(--base)); /* 작은 글씨 */
    color: #007bff; /* 파란색 */
    margin-top: calc(5 / 16 * var(--base)); /* 위와의 간격 */
    font-weight: bold;
    display: flex; /* 부모 요소를 flex 컨테이너로 설정 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

.result-icon {
    position: absolute;
    top: 25%; /* 프레임 위로 이동 */
    left: 50%;  /* 가로 중앙 */
    transform: translateX(-50%); /* 가로 중앙 정렬 */
    z-index: 100; /* 다른 요소 위로 표시 */
}

.score {
    text-indent: 0; /* 들여쓰기 초기화 */
    font-size: calc(16 / 16 * var(--base));
    font-weight: bold;
    text-align: center;
    margin-top: calc(20 / 16 * var(--base));
}

/* ///////////////////////////////////////////////////////////type c 관련 Styles ////////////////////////////////////////*/
.input-container {
    text-indent: 0; /* 들여쓰기 초기화 */
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border: calc(1 / 16 * var(--base)) solid #007bff;
    border-radius: calc(5 / 16 * var(--base));
    background-color: #f9f9f9;
    cursor: pointer;
    text-align: center;
    font-size: calc(12 / 16 * var(--base));
    font-weight: bold;
    color: #007bff;
    margin: calc(10 / 16 * var(--base)) calc(5 / 16 * var(--base)); /* 수평 마진 */
    margin-bottom : 0;
    margin-top : calc(4 / 16 * var(--base));
    margin-right : calc(3 / 16 * var(--base));
    padding: calc(5 / 16 * var(--base)); /* 상단 여유 공간 확보 */
    white-space: normal;
    
    /* width은 내용에 따라 자동 조절됨 */
}

.input-container input {
    font-family: 'Nanum Barun Gothic YetHangul', sans-serif;
    text-indent: 0; /* 들여쓰기 초기화 */
    border: none;
    outline: none;
    font-size: calc(12 / 16 * var(--base));
    font-weight: bold;
    color: #000000;
    text-align: center;
    background: transparent;
    /* width은 size 속성에 의해 조절됨 */
}

/* ///////////////////////////////////////////////////////////type d 관련 Styles ////////////////////////////////////////*/
.short-container {
    text-indent: 0; /* 들여쓰기 초기화 */
    display: flex;
    vertical-align: middle;
    justify-content: center; /* 내부 아이템 중앙 정렬 */
    align-items: center; /* 세로축 중앙 정렬 */
    position: relative;
    border: calc(1 / 16 * var(--base)) solid #007bff;
    border-radius: calc(5 / 16 * var(--base));
    background-color: #f9f9f9;
    cursor: pointer;
    text-align: center;
    font-size: calc(12 / 16 * var(--base));
    font-weight: bold;
    color: #007bff;
    margin: calc(10 / 16 * var(--base)) calc(5 / 16 * var(--base)); /* 수평 마진 */
    margin-bottom : 0;
    margin-top : calc(3 / 16 * var(--base));
    margin-right : calc(3 / 16 * var(--base));
    padding: calc(5 / 16 * var(--base)); /* 상단 여유 공간 확보 */
    white-space: normal;
    width: calc(300 / 16 * var(--base))
    /* width은 내용에 따라 자동 조절됨 */
}

.short-container input {
    font-family: 'Nanum Barun Gothic YetHangul', sans-serif;
    text-indent: 0; /* 들여쓰기 초기화 */
    border: 0px solid #000;
    outline: none;
    font-size: calc(12 / 16 * var(--base));
    font-weight: bold;
    color: #000000;
    text-align: center;
    background: transparent;
    width: calc(300 / 16 * var(--base))

}

/* 채점 후 처리 */
.choice-container.wrong {
    background-color: var(--redt);
}

.choice-container.correct {
    background-color: var(--greent);
}

.choice-option.wrong {
    pointer-events: none;
    opacity: 0.5;
}
.choice-option.correct {
    pointer-events: none;
    opacity: 0.8;
}