:root {
    --blue: #007bff;
    --bluel: #87c1ff; /*light*/
    --bluet: #d7e8fd; /*transparent, 실제로는 색상만 얕고 불투명*/
    --green: #208a39; /* 기본 녹색 */
    --greenl: #8ed09e; /* 밝은 녹색 */
    --greent: #d7f2e1; /* 투명 녹색, 실제로는 색상만 얕고 불투명 */
    --greentt: #208a3993; /* 실제 투명 녹색 */

    --red: #dc3545; /* 기본 빨간색 */
    --redl: #f8b6b9; /* 밝은 빨간색 */
    --redt: #fddede; /* 투명 빨간색, 실제로는 색상만 얕고 불투명 */
    --redtt: #dc3546ac; /* 실제 투명 빨간색 */

    --whitet: #ffffffad;
}