.image-container {
    text-align: center;
    margin: calc(5 / 16 * var(--base)) 0;
}

.embedded-image {
    max-width: 90%;
    max-height: 90%;
    /*box-shadow: calc(3 / 16 * var(--base)) calc(3 / 16 * var(--base)) calc(6 / 16 * var(--base)) rgba(0, 0, 0, 0.2);*/
}

.image-caption {
    margin-top: calc(4 / 16 * var(--base));
    color: #555;
}