#nextq {
    font-family: 'Nanum Barun Gothic YetHangul', sans-serif;
    position: fixed;
    bottom: calc(50% + env(safe-area-inset-bottom));
    left: 100%;
    transform: translate(-100%, +50%);
    z-index: 3000;
    width: calc(35 / 16 * var(--base));
    font-size: calc(12 / 16 * var(--base));
    justify-content: left;
    padding-left: calc(4 / 16 * var(--base));
    padding-right: calc(2 / 16 * var(--base));
    /* 필요에 따라 추가 스타일 적용 */
  }

#preq {
    font-family: 'Nanum Barun Gothic YetHangul', sans-serif;
    position: fixed;
    bottom: calc(50% + env(safe-area-inset-bottom));
    left: 0%;
    transform: translate(0%, +50%);
    z-index: 3000;
    width: calc(35 / 16 * var(--base));
    font-size: calc(12 / 16 * var(--base));
    justify-content: right;
    padding-left: calc(2 / 16 * var(--base));
    padding-right: calc(4 / 16 * var(--base));
}

#submitq {
    font-family: 'Nanum Barun Gothic YetHangul', sans-serif;
    position: fixed;
    bottom: calc(70% + env(safe-area-inset-bottom));
    left: 100%;
    transform: translate(-100%, +50%);
    z-index: 3000;
    width: calc(35 / 16 * var(--base));
    font-size: calc(12 / 16 * var(--base));
    justify-content: left;
    padding-left: calc(4 / 16 * var(--base));
    padding-right: calc(2 / 16 * var(--base));
}
  